build/
bin/
.vscode/**/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json

Source/Rust/target/**/*
!Source/Rust/target/include/

# when copying into this dir it will have the name MyPlugin.vst3/
*.vst3/

# created from nix flake to point to juce output store path
result
